-var titulo = "Sub-Titulo Principal"
-var parrafo = "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas nesciunt commodi laborum saepe voluptate incidunt maiores veniam dignissimos magnam odit officiis deserunt architecto, velit quia dolorem nulla non praesentium adipisci."
-var titulos = ["Titulo Principal", "Subtitulo 1", "Subtitulo 2", "Subtitulo 3"]
-var text_span = "Proin sed urna quis orci interdum rutrum. Integer rhoncus finibus nunc, ac porttitor ex dapibus ac."
-var usuario = "David"
mixin caja(imagen, titulo, contenido)
	.caja
		.caja__imagen: img(src="./images/"+imagen)
		.caja__contenido
			h3= titulo
			p= contenido
			a.buton Leer mas
doctype html
html
	head 
		meta(charset="UTF-9")
		link(rel="stylesheet", href="css/ejercicio-pug.css")
	body 
		header PlatziGames 
			if usuario 
				a.boton Hola #{usuario}
			else
				a.boton Registro
		section.intro
			.intro__imagen: img(src="images/imagen.png")
			.intro__contenido
				h2 #{titulos[0]}
				p 
					| #{parrafo}
					span #{text_span}
				a.boton Leer Mas
		//- ul 
		//- 	each titulox in titulos
		//- 		li #{titulox}
		main.contenido 
			+caja("imagen.png",titulos[1],"Lorem ipsum sit amet")
			+caja("imagen.png",titulos[2],"Lorem ipsum sit amet")
			+caja("imagen.png",titulos[3],"Lorem ipsum sit amet")